/**********************
Alcare styling
**********************/
*{
padding:0px;
margin:0px;
}
header, section, footer, aside, nav, article, hgroup{
    display:block;
}
body{
text-align:center;
width:100%;
height:100%;
display:block;
}
#slide{background-image:url('img/A.jpg');width:100%;height:600px;  background-attachment: fixed;background-repeat:no-repeat; background-size:100% 600px;}
header{
background-color:#292A2F;
position:fixed;

width:100%;
 -webkit-box-shadow: 0 0 10px rgba(5,2,1,3.5);
}
header h1{
font:60px bold;
font-family: Cooper Std Black, Calibri, cambria, tahoma;
color:white;
padding-right:450px;
margin-top:10px;
}

#navList li {
list-style:none;
text-decoration:none;
display:inline-block;
word-spacing: normal;
padding-left:10px;
padding-right:10px;
margin-left:1px;
margin-right:1px;
color:white;

}
#navList a:hover{
background-color:red;
color:blue;
padding:2px;
 background-color:white;transition-property:background; transition-duration:0.3s;

}
#navList h3{font:15px bold;
font-family: Calibri;
}
#navList h3:hover{
color:black;


transition-property:color;transition-duration:1s;

}
#navList  a:active{
 -webkit-border-top-left-radius:50px;
}
body #all{}
#midSection{
font: 20px bold;
font-family:calibri;
background-color:#F5F5F6;
text-align:center;
margin: 0 auto 2em;
overflow:auto;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#article{margin-left:250px;}
#article article{

float:left;
border:2px solid transparent;
margin:20px;
background-color:;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#article h2{
color:white;
background-color:black;
font:20px bold;
font-family:Calibri;
padding:10px;
margin-bottom:10px;
}
#article article p{
width:300px;
font:15px bold;
font-family:Candara, Calibri;

}
Footer{
background-color:#292A2F;
height:100px;
}
#foot{
height:40px;
background:-webkit-linear-gradient(top,#969696 5%, #10B1C0 18%, #10B1C0 50%);
linear-gradient(top, #111010 0%, #1C6BB4 100%);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
::-webkit-scrollbar {

    width: 11px;

}


::-webkit-scrollbar-track {

    background:black;
   
    border-radius:0px;
}
::-webkit-scrollbar-thumb {
    background:red;
    border: 9px solid red;
    border-radius:0px;
	
}
::-webkit-scrollbar-thumb:hover {
    background:#FE5600;
}